.details-button-section {
    padding: 12px;
    text-align: right;
}

#details-title-div {
  text-align: center;
  padding: 15px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#details-table-section{
  th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: skyblue;
      color: black;
  }
}
